*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(190, 160, 230),azure,rgb(179, 179, 179));

}
h2{
    color: royalblue;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 30px;
}
h3{
    color: rgb(236, 20, 20);
    margin-left: 200px;
    margin-top: 10px;
    font-size: 25px;
}
#l1{
    font-size: 20px;
    margin-left: 200px;
}
#userName{
    margin-top: 5px;
    width: 500px;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;
    border: 2px solid rgb(212, 203, 203);
    margin-left: 200px;
}
#l2{
    font-size: 20px;
    margin-left: 200px;
    margin-top: 30px;
}
#Password{
    margin-top: 5px;
    width: 500px;
    height: 37px;
    padding-left: 10px;
    outline: none;
    border: 2px solid rgb(212, 203, 203);
    margin-left: 200px;
}
#btn1{
    height: 50px;
    width: 100px;
    background-color: green;
    outline: none;
    border: 2px solid lightgreen;
    color: azure;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 70px;
    left: -510px;
}
#btn2{
    height: 50px;
    width: 100px;
    background-color: royalblue;
    outline: none;
    border: 2px solid lightblue;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 71px;
    left: -480px;
}
#btn2 a{
    text-decoration: none;
    color: azure;
}